ENVIRONMENT=

GIN_MODE=

SERVER_PORT=8080

TELEMETRY_SERVICE="wblitz-watcher"
TELEMETRY_ENDPOINT="localhost:4318"
TELEMETRY_INSECURE="1"

DISCORD_APPLICATION_ID=
DISCORD_APPLICATION_PUBLIC_KEY=
DISCORD_BOT_TOKEN=
DISCORD_PERMISSIONS="277028661312"
DISCORD_IGNORE_CHANNELS=
DISCORD_USE_ONLY_CHANNELS=
DISCORD_SUPER_USERS=

WG_APPLICATION_ID=
WG_APPLICATION_ID_LESTA=

DB_REPO_DSN=
